$accentColor:#34E4EA;

// #34e4ea, #ebebeb, #c0c0c0, #02020a (#9B5DE5) (#6B7FD7)

#app-container{
  min-height:100vh;
  min-width:100vw;
  // background-color: #02020A;
}

.text{
  color: $accentColor;
  font-weight:900;
  font-size:2rem;
}

.main-container{
  padding-top:20%;
  width:30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-label{
  color:$accentColor;
  opacity: 0.75;
  text-align:left;
  font-weight: bold;
  font-style: italic;
  background-color: rgba(255,255,255,0.2);
  padding:.25rem;
  padding-inline:.5rem;
  margin:.25rem;
  margin-bottom:.5rem;
  // width:fit-content;
  width: 8rem;
  text-align: center;
  border-radius: .25rem;
}

.slider-parameter{
  width:10rem;
}

.radio-group{
  *{
    color:white;
  }
  display: grid;
  grid-template-columns: 1rem;
  width:100%;
}

.dropdown-select{
  width: 60%;
}